<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>All the Artists!</h1>
    <p><% @artists.sort_by { |artist| artist.name }.each do |artist| %></p>
      <a href="/artists/<%= artist.id %>"><%= artist.name %></a>
    <% end %>

  </body>
</html>
