<!-- <form  action="/songs/<%=@song.slug%>" method="post">
  <label for="name"></label>
  <input type="text" name="name" value="<%=@artist.name%>">
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Submit">
</form> -->


<h1>testing </h1>
