<form  action="" method="post">
  <label for="name">Update Artist's name</label>
  <input type="text" name="name" value='<%= params[:slug] %>'>
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Submit">
</form>
